# 의존성 디렉토리
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# 빌드 결과물
/dist
/build
/out
/.next
/.nuxt

# 환경 변수 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 에디터 설정
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 로그 파일
logs
*.log

# 캐시 디렉토리
.cache/
.parcel-cache/

# 테스트 커버리지
/coverage

# 임시 파일
.tmp
.temp
